<footer>
    <div class="container footer">
        <div class="footerNetworks">
            <img src="assets/logoICEITECH.png" class="logoFooter" alt="Logo ICEI">
            <p class="textFooter">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus libero totam magnam veritatis aliquid dolore sit dolorem id veniam, cupiditate, aspernatur obcaecati expedita incidunt? Tenetur aut expedita iusto quia commodi!</p>
                <h3 class="titleFooter">Nuestras redes sociales</h3>
                <div class="networks">
                    <a href="" class="linkFooter">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="" class="linkFooter">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="linkFooter">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
        </div>
        <div class="footerContact">
            <h3 class="titleFooter">Contactos</h3>
            <p class="textContact">
                <i class="bi bi-geo-alt-fill"></i>
                Calle Cochabamba #100 Edificio José Santos piso 1 Oficina 1.
            </p>
            <p class="textContact">
                <i class="bi bi-whatsapp"></i>
                +591-60174745
            </p>
            <p class="textContact">
                <i class="bi bi-telephone-fill"></i>
                2-2313313
            </p>
            <p class="textContact">
                <i class="bi bi-envelope-at-fill"></i>
                icei@icei.tech
            </p>
        </div>
        <div class="areasFooter">
            <h3 class="titleFooter">Nuestras áreas de interés</h3>
            <ul class="areasListFooter">
                <li class="listFooter">Web</li>
                <li class="listFooter">Mobile</li>
                <li class="listFooter">Redes</li>
                <li class="listFooter">Electrónica</li>
                <li class="listFooter">Infraestructura</li>
                <li class="listFooter">Base de datos</li>
            </ul>
        </div>
    </div>  
    <p class="copyright">Copyright 2022 iceiTech</p>
</footer>